<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{ title }}</title>
	<!--Mobile first-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!--IE Compatibility modes-->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

        <!-- <link rel="stylesheet" href="assets/css/main.css" id="stylesheet"> -->
        <link rel="stylesheet" href="assets/css/main.css" id="stylesheet">

        {{#if stylesheets}}
        {{css stylesheets}}
        {{/if}}


        {{#if cdncss}}
        {{cdn cdncss}}
        {{/if}}
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	  <script src="assets/js/html5shiv.js"></script>
	  <script src="assets/js/respond.js"></script>
	<![endif]-->

	<!--Modernizr 3.0-->
    </head>
    <body>
            {{> nav }}
		<div class="container">
			{{> body }}
		</div>

    	{{> footer}}




        {{#if cdnjs}}
        {{cdn cdnjs}}
        {{/if}}

        {{#if javascripts}}
        {{js javascripts}}
        {{/if}}

        <script src="assets/js/lib.js"></script>
        <script src="assets/js/general.js"></script>
        <script src="assets/js/app.js"></script>

        {{#if scripts}}
        <script>
            {{scripts}}
        </script>
        {{/if}}
        
       </body>
</html>